:root{
    --primarycolor:#FFAD05;
    --darkcolor:#0D1B2A;
    --lightwhite:#F7F7F7;
    --grey:#6e6d7a;
    --custom-green:#4CD333;
}
body{
    font-family: 'Poppins';
    background-color: #F7F7F7;
    span{
        font-weight: 600;
        text-decoration: solid;
        text-transform: capitalize;
    }
}
ul{
    list-style-type: none;
}

.navbar{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0D1B2A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo{
        // display the logo name in the far left of the navigation bar
        // padding-right:33% ;
        padding-top: 5px;
        font-size: 1.7em;
        font-weight: 400;
    }
    h1{
        color: white;
        span{
            color: var(--primarycolor);
        }
    }
    a{
        text-decoration: none;
        color: white;
    }:hover{
        color: var(--primarycolor);
    }:active{
        color: var(--primarycolor);
    }
    .links{
        font-weight:400;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
        justify-content: space-around;
    }
    .accountsection {ul{
        display: flex;
        flex-direction: row;
        gap:8px;
        font-weight: 500;
    }.signin-box{
        display: flex;
        justify-content: center;
        align-items: center;
font-weight: 400;
background-color: var(--primarycolor);
border-radius: 9px;
text-decoration: none;
width: 100px;
height: 100x;

    }
}
}
// see events list 
.admin-events-list{
    margin-top: 100px;
    background-color: white;

    margin-left: 15px;
    .title-and-add-btn{
        background-color: var(--lightwhite);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:  15px;
        
        .title{
            font-size: 22px;
            text-transform: capitalize;
        }
        .add-btn{
            background-color: var(--darkcolor);
            border-radius: 22px;
            padding: 10px;
            a{
                text-decoration: none;
                color: var(--primarycolor);
            }
        }
    }
    .events-list{
        background-color: var(--lightwhite);
        display: flex;
        flex-direction: column;
       
        .event-container{
            border:.1px solid black;
            background-color: white;
            margin-top: 15px;
            padding: 5px;
            .event-details{
                text-transform: capitalize;
                font-size: 18px;
                span{
                    color: var(--primarycolor);
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}
// see projects list
.projects-list{
    margin-top: 100px;
    .projects{
        .title{
            font-size: 22px;
            text-transform: capitalize;
            margin-left: 11px;
        }
        .project{
        padding-bottom:15px;
        padding-left: 10px;
        margin: 15px;
        background-color: white;
        .title-plus-rate-btn{
            padding: 0px 7px;
            display: flex;
            flex-direction:row;
            justify-content: space-between;
            align-items: center;
.rate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--custom-green);
    color:white;
    padding: 8px;
    border-radius: 12px;
    width: 50px;
}
            .project-title{
                 font-size: 28px;
                    text-transform: capitalize;
                    font-weight: 400;
                    color: var(--primarycolor);
                    
                }
        }
            .details{
                margin-left: 0%;
                text-transform: capitalize;
             }
             .download-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    font-weight: 300;
                    text-decoration: none;
                    color: var(--primarycolor);
                    text-transform: capitalize;

                }
                text-align: center;
                background-color: var(--darkcolor);
                width: 110px;
                height: 40px;
                border-radius: 15px;
            }
    }}
}
// add event styling 
.add-event{
    .container-form{
        h2{
            display: flex;
            align-self: center;
            justify-content: center;
            padding: 10px;
        }
        background-color: white;
        margin-top: 100px;
        .add-event-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 25px;
            text-transform: capitalize;
        }

    }
}