:root {
  --primarycolor:#FFAD05;
  --darkcolor:#0D1B2A;
  --lightwhite:#F7F7F7;
  --grey:#6e6d7a;
}

body {
  font-family: "Poppins";
  background-color: #F7F7F7;
}
body span {
  font-weight: 600;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0D1B2A;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .logo {
  padding-top: 5px;
  font-size: 1.7em;
  font-weight: 400;
}
.navbar h1 {
  color: white;
}
.navbar h1 span {
  color: var(--primarycolor);
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar :hover {
  color: var(--primarycolor);
}
.navbar :active {
  color: var(--primarycolor);
}
.navbar .links {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: space-around;
}
.navbar .accountsection ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-weight: 500;
}
.navbar .accountsection .signin-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: var(--primarycolor);
  border-radius: 9px;
  text-decoration: none;
  width: 100px;
  height: 100x;
}

.events-lists {
  margin-top: 100px;
}
.events-lists .filter {
  margin: 15px;
}

.projects-list {
  margin-top: 100px;
}
.projects-list .projects .project {
  padding-bottom: 15px;
  padding-left: 10px;
  margin: 15px;
  background-color: white;
}
.projects-list .projects .project .project-title {
  font-size: 28px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--primarycolor);
}
.projects-list .projects .project .details {
  margin-left: 0%;
  text-transform: capitalize;
}
.projects-list .projects .project .download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--darkcolor);
  width: 110px;
  height: 40px;
  border-radius: 22px;
}
.projects-list .projects .project .download-btn a {
  font-weight: 300;
  text-decoration: none;
  color: var(--primarycolor);
  text-transform: capitalize;
}

.results-list {
  margin-top: 100px;
}
.results-list .results .result {
  padding-bottom: 15px;
  padding-left: 10px;
  margin: 15px;
  background-color: white;
}
.results-list .results .result .title-result {
  font-size: 28px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--primarycolor);
}
.results-list .results .result .details {
  margin-left: 0%;
  text-transform: capitalize;
}
.results-list .results .result .details .points {
  color: green;
}

.upload {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upload .title {
  font-size: 25px;
  text-transform: capitalize;
}
.upload .sub-title {
  font-size: 16px;
  color: var(--grey);
}
.upload .upload-container {
  margin-top: 30px;
  border-style: dashed;
  border-width: 2px;
  border-color: #707070;
  padding: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upload .upload-container .img-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.upload .upload-container .img-and-title h3 {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
.upload .upload-container .img-and-title h3 span {
  color: var(--primarycolor);
}
.upload .upload-container .img-and-title .img {
  width: 25px;
  height: 25px;
  padding: 5px;
}
.upload .upload-container .btn-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  background-color: var(--primarycolor);
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.upload .upload-container .btn-container img {
  width: 25px;
  height: 25px;
  padding: 5px;
}/*# sourceMappingURL=main.css.map */